.btn-form {
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #04795f;
}

.button {
  border-radius: 4px;
  border: none;
  display: block;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  cursor: pointer;
}
