.load-more {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #04795f;
}
